@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.navbar{
    padding:0;
    margin:0;
    width:100%;
    height:620px;
}

.nav-row{
    width: 100%;
    height: 180px;
    background-color: rgba(240, 241, 241, 0.191);
    display: flex;
    flex-direction: row;
}

.logoImage{
    width: 10%;
    height: 150px;
    margin: 15px 40px;
}
.logo{
    height: 100%;
    width: 100%;
}

.navlinks{
    width: 65%;
    height: 130px;
    margin: 25px 67px;

}

.navlinks ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 50px 20px;
}

.navlinks li{
    padding-left: 20px;
    padding-right: 20px;
    display: block;


}

.navlinks a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    display: block;
    width: 140px;
}

.heading{
    background-color: rgba(240, 248, 255, 0.186);
    width: 100%;
    height: 394px;
    margin: 35px 0px;
    padding: 3px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Kavoon', cursive;
    text-shadow: 2px 2px 3px black;
}

.heading h1{
    font-size: 55px;
}

.heading h2{
    font-size: 26px;
}

.Home-Content{
    margin: 0 auto;
    text-align: justify;
}

.Home-Content .department{
    background-color: rgba(157, 178, 180, 0.125);
    text-align: center;
    height: 300px;

}
.Home-Content .department h2{
    text-align: center;
    padding-top: 25px;
}


.Home-Content .department p{
    text-align: justify;
    margin: 25px 30px 25px 30px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
    color: darkgreen;
}

.Home-Content .department .view-more{
    font-style: italic;
}

.Home-Content .department a{
    text-decoration: none;
}

