{% load static %}

<head>
<link type="text/css" rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="shortcut icon" href="{% static 'images/kisan.png' %}" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<style>
    .navbar{
        background:rgba(0,0,0,0.6)url("{% static 'images/header1.jpg' %}");
        background-blend-mode: darken;
        background-position: top;
        background-repeat:no-repeat;
        background-size: cover;

    }
    .navbar{
    padding:0;
    margin:0;
    width:100%;
    height:170px;
    }
</style>
</head>



<nav class="navbar">
    <div class="nav-row">
        <div class="logoImage">
           <a href="{% url 'index' %}">
            <img class="logo" src="{% static 'images/kisan.png' %}" alt="">
           </a>
        </div>
        <div class="navlinks">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'schemes' %}">Schemes</a></li>
                <li><a href="{% url 'administration' %}">Administration</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li>
                    <a href="{% url 'signup_page' %}">
                        <span class="material-symbols-outlined">
                          person
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>

{% block content %}


{% endblock %}

{% include 'footer.html' %}