{% extends 'adminIndex.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />

<style>

    .report-container {
        min-height: 300px;
        max-width: 1200px;
        margin: 0px auto 0px auto;
    }
    .report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 33px 10px 35px;
    border-bottom: 2px solid rgba(14, 50, 25, 0.59);
    }

    .krishibhavan-details{
        width: 100%;
        margin: 0 auto;
        height: 500px;
        display: flex;
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }

    .krishibhavan-profile{
        width: 30%;
        margin: 25px;
        height: 450px;
        background: white;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .krishibhavan-profile img{
        width: 260px;
        height: 260px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .more-details{
        width: 70%;
        margin: 25px;
        height: 450px;
      
    }

    .recent-Articles{
        font-size: 18px;
    }

    .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        padding-top: 5px;
    }

    .view:hover{
        background:rgb(75, 143, 89);
        color:rgb(4, 50, 11);
    }

    .krishibhavan-profile h3{
        font-size: larger;
        letter-spacing: 1px;
    }

</style>
    <div class="report-container">
        <div class="report-header">
            {% for i in krishibhavan %}
            <h1 class="recent-Articles">e-code : {{ i.ecode }}</h1> &emsp; &emsp;

            <a href="/Krishibhavan-update/{{ i.uid }}">
                <button class="view">Update</button>
            </a>&emsp;

        <a href="/Krishibhavan-delete/{{ i.uid }}">
                <button class="view">Delete</button>
            </a>

            {% endfor %}
        </div>

        <div class="krishibhavan-details">
            <div class="krishibhavan-profile">

                {% for i in krishibhavan %}
                    <img src="{{ i.image.url }}" alt="">
                    <h3>{{ i.place }} Krishibhavan</h3>
                    <address>
                        <span class="material-symbols-outlined">
                            call
                        </span>
                        {{ i.phone }}
                    </address>
                    <br>
                    <a href="#">
                        <button class="view">Call Now</button>
                    </a>


            </div>
            <div class="more-details">
                <p>Location  :   {{ i.place }}   </p>
                <p>Municipality     :    {{ i.municipality }}</p>
                <p>Panchayath   :   {{ i.panchayath }}</p>
                <p>District : {{ i.district }}</p>
                <p>State    :  {{ i.state }}</p>
                <p>Pin  :   {{ i.pin_code }}</p>
                <p>Email    :   {{ i.email }}</p>

            </div>
            {% endfor %}
        </div>
      
        

    </div>

{% endblock %}